.a{
    border-style:double;
    background-color:rgb(43, 129, 129);
    color:gainsboro;
}

.page{
 background-color:silver
}
   
.Info{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.img{
    text-align: center;
    border-style:double;
    background-color: lightgrey;
  
}
.one{
    text-align: center;
    border-style: groove;
    background-color: lavender;
}  

.list{
    font-size: 20px;
    font-family: sans-serif;
}


.T{
    text-align: center;
    border-style: groove;
    background-color: moccasin;
}
.list{
    font-size: larger;
}
.m{
    font-family: Arial, Helvetica, sans-serif;
}


.g{
    text-align:center;
    border-style: groove;
    background-color: cornsilk;
}
.y{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.s8{
    text-align: center;
    background-color: darkslategray;
}
.v{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p{
    text-align: center;
    background-color:dimgrey
}
.w{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.e{
    background-color: gold;
}

.u{
    background-color: dodgerblue;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.footer{
    background-color: dimgrey;
    border-style: solid;
}
.if{
    text-align: center;
    border-style: outset;
    background-color: darkslategray;
}
